﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RevolutionAi</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="container body-content">
        <!-- Navigation bar with  temporary controls. -->
        <div>
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary ">
                <div class="container">
                    <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarColor01" aria-label="Toggle navigation" type="button" data-target="#navbarResponsive" data-toggle="collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item" id="userLogin">
                                <!--User login info icon/name-->
                                <a class="navbar-brand" href="#">Login</a>
                            </li>
                            <li class="nav-item" id="userLogout" style="display:none">
                                <!-- User Logout link -->
                                <a class="navbar-brand" href="#">Logout</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Help
                                </a>
                                <span class="caret"></span>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#helpModal" href="#">Help</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#micModal" href="#">Configure my Microphone</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p float="left">&copy; @DateTime.Now.Year - RevolutionAi</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("PageScripts", required: false)
</body>
</html>