﻿@model IEnumerable<CS461_M3_Cross_Country.DAL.Parent>
@{
    ViewBag.Title = "Simulated Parent Log-in";
}

<h2>Simulated Parent Log-in</h2>
<p>Lists available parents in table to simulate logging in until authentication is added.</p>
<hr />


<ul class="list-group">
    @foreach (var parent in Model)
    {
    <li class="list-group-item list-group-item-light">@Html.ActionLink(parent.FirstName + " " + parent.LastName, "ParentHome", new { id = parent.ParentID })</li>
    }
</ul>