﻿@model CS461_M3_Cross_Country.DAL.Session

@{
    ViewBag.Title = "Delete Session";
}

<h2>Delete Session</h2>

<h3>Are you sure you want to delete this training session?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Athlete.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athlete.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Athlete.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athlete.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Sessions List", "Index")
        </div>
    }
</div>
