﻿
@{
    ViewBag.Title = "Remi";
}

<!-- Container for the main body content. -->
<div class="container" style="margin-top: 4em;">
    <div class="form-inline" id="remitextinputform" style="display:flex; float: left; position: relative; top: -5px;">
        <input type="text" class="form-control" placeholder="What can I do for you?" id="remitextinput" />
        <button id="submitremitextinput" class="btn btn-primary">Send</button>
    </div>
    <div class="form-inline" style="float: right">
        <div>
            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" name="toggletextinput" id="checktextin" checked="checked" />
                <label class="form-check-label" for="checktextin">Enable text-input</label>
            </div>
            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" name="toggletextoutput" id="checktextout" checked="checked" />
                <label class="form-check-label" for="checktextout">Enable text-output</label>
            </div>
        </div>
        <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" name="toggleInfoPane" id="infoPaneDisplay" />
            <label class="form-check-label" for="infoPaneDisplay">Hide Info Pane</label>
        </div>
    </div>

    <div class="text-center">
        <canvas id="canvas"></canvas>
    </div>
    @*<div id="remi-text-output">
            <!--This is where the Remi's chat output will be displayed.-->
            <h3 class="text-center" id="remiChatOutput"></h3>
        </div>*@
    <!-- Control bar => Text In/Out Controls  -->
    <div id="fillerPane" style="display:block">
        <!--This is where the JavaScript will show results-->
    </div>
</div>
@Html.Partial("~/Views/Home/_Help.cshtml")
@Html.Partial("~/Views/Home/_MicrophoneHelp.cshtml")

@*JavaScript files go here!*@
@section PageScripts{
    <script src="~/Scripts/Remi/microphone.js"></script>
    <script src="~/Scripts/Remi/user.js"></script>
    <script src="~/Scripts/Remi/controlPanel.js"></script>
    <script src="~/Scripts/Remi/google-calendar.js"></script>
    <script src="~/Scripts/Remi/speech.js"></script>
    <script src="~/Scripts/Remi/weather.js"></script>
    <script src="~/Scripts/Remi/dictionary.js"></script>
}