﻿@model IEnumerable<CS461_M3_Cross_Country.DAL.Session>
@{
    ViewBag.Title = ViewBag.AthleteName + " Details";
}
<h2 class="display-4">@ViewBag.AthleteName</h2>
<h3>Distance Data</h3>
<table class="table table-hover table-responsive-lg">
    <tr class="table-primary">
        <th>@Html.DisplayNameFor(model => model.TrainingDate)</th>
        <th>@Html.DisplayNameFor(model => model.Distance)</th>
        <th>Difference</th>
    </tr>
    @{
        var i = 0;
        foreach (var session in Model)
        {
            if (i == 0)
            {
                ViewBag.Last = session.Distance;
                <tr>
                    <td>@Html.DisplayFor(modelItem => session.TrainingDate)</td>
                    <td>@Html.DisplayFor(modelItem => session.Distance)</td>
                    <td>n/a</td>
                </tr>
                i++;
            }
            else
            {
                ViewBag.Difference = session.Distance - ViewBag.Last;
                <tr>
                    <td>@Html.DisplayFor(modelItem => session.TrainingDate)</td>
                    <td>@Html.DisplayFor(modelItem => session.Distance)</td>
                    @if (ViewBag.Difference > 0)
                    {
                        <td class="text-success">+@ViewBag.Difference</td>
                    }
                    else
                    {
                        <td class="text-danger">@ViewBag.Difference</td>
                    }
                </tr>
                ViewBag.Last = session.Distance;
            }

        }
    }
</table>
<br />
@* Start of the athlete speed data section. *@
<h3>Speed Data</h3>
@* This div will be populated with the information from the runs relevant to the current student. *@
<div id="speed-graph">
    <canvas id="myChart" width="850" height="420" style="width: 876px; height: 438px"></canvas>
</div>
<div id="speed-table"></div>



@{ 
    // Get the data from the session and use it to create labels and data sets
    // the the charts.
    string sessionStrings = "";
    string sessionSpeeds = "";
    double maxSpeed = double.NegativeInfinity;
    // for each session in the model.
    foreach(var session in Model)
    {
        // Get the training data for the label,
        sessionStrings += " ";
        sessionStrings += ",";
        double thisSpeed = (Math.Round((session.Distance * (1609.344) / session.TrainingTime.TotalSeconds), 2));
        if (thisSpeed > maxSpeed) { maxSpeed = thisSpeed; }
        // Get the speed of the athlete for that session.
        sessionSpeeds +=  thisSpeed.ToString() + ",";
    }
    maxSpeed += 0.01;
}

@section PageScripts
{
    @* Adds the CDN for chart.js *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <script>
        // max speed of this athlete
        maxSpeed = null;
        // When the document is loaded 
        $(function () {
            $.ajax(
                {
                    type: 'GET',
                    dataType: 'json',
                    url: '/Athletes/AthleteSpeeds/@((Model.FirstOrDefault() == null)? 0 : Model.FirstOrDefault().AthleteID)',
                    success: function (data) { displayData(data); },
                    error: function () { ajaxError(); }
                }
            );
        });
        
        // Place the data into a table
        function displayData(data) {
            var string = '<table class="table table-hover table-responsive-lg"'
                //+ 'style="width:90%; margin: 0px auto;">'
                + '<thead><tr class="table-primary">'
                + '<th>Date</th>'
                + '<th>Distance</th>'
                + '<th>Average Speed</th></tr></thead><tbody>';
            // The previous speed is equal to the max float.
            previousSpeed = null;
            
            $.each(data, function (i, item) {
                string += '<tr><td>'
                    + item['Date']
                    + '</td><td>'
                    + item['Distance']
                    + '</td>'
                    + ((previousSpeed == null)
                        ? '<td>'
                        : (item['AverageSpeed'] < previousSpeed)
                            ? '<td class="text-danger">'
                            : '<td class="text-success">')
                    + item['AverageSpeed']
                    + " m/s"
                    + '</td></tr>';
                previousSpeed = item['AverageSpeed'];
                maxSpeed = (maxSpeed == null)
                    ? item['AverageSpeed']
                    : (item['AverageSpeed'] > maxSpeed)
                        ? item['AverageSpeed']
                        : maxSpeed;
            });
            string += '</tbody></table>';
            $('#speed-table').append(string);
        }
        
        // Something bad happened. Let the user know
        function ajaxError() {
            alert("Warning: Unable to recieve speed data. Please try again later.");
        }
        maxSpeed += 0.03
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: [@sessionStrings],
                datasets: [{
                    label: "Session Speeds",
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    borderColor: 'rgb(89, 49, 150)',
                    data: [@sessionSpeeds],
                }]
            },
            // Configuration options go here
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: @maxSpeed.ToString()
                        }
                    }]
                }
            }
        });
    </script>
}
